# 파이썬의 자료형 (data type)
### 파이썬의 자료형은 동적으로 변환

* int : 정수 (소수점이 없는 숫자)
* float : 실수 (소수점이 있는 숫자)
* str : 문자, 문자열 
* list : 여러 개의 자료가 순서대로 저장된 자료형, 모든 자료형 可
* tuple : list와 비슷하나 한번 만들면 수정 불가능, 모든 자료형 可
* dictionary(dict) : key:value 쌍으로 이루어진 자료형, 모든 자료형 可

# 데이터 타입을 출력하는 함수 type(변수)

In [5]:
a = 10
b = "데이터 타입"
print(type(a), type(b))

<class 'int'> <class 'str'>

In [8]:
f = 3.00
print(type(a + f))
print(type(a - f))
print(type(a * f))
print(type(a / f))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

### 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶다면 \을 사용할 수 있다

In [26]:
long_char = "코딩 할 때 \을 치고 \
enter를 친다면 \
여러 줄로 작성할 수 있다."
print(long_char)

print()

long_char2 = "줄바꿈을 하고 싶다면 \n을 통해서 줄바꿈을 할 수 있다"
print(long_char2)

print()

long_char3 = """따옴표 3개로 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다.
\"나 \'를 3개씩 쓰면 된다."""
print(long_char3)

코딩 할 때 \을 치고 enter를 친다면 여러 줄로 작성할 수 있다.

줄바꿈을 하고 싶다면
을 통해서 줄바꿈을 할 수 있다

따옴표 3개로 감싸면
줄바꿈을 해도 모두 그대로 출력이 된다.
"나 '를 3개씩 쓰면 된다.

## 문자 덧셈 + , 문자 곱셈 *

In [30]:
# "가" + 3(숫자)는 안됨
print("가" + "3")
print("가" * 3)
print("=" * 50)

가3
가가가
==================================================

## 문자열은 순서가 있다
### 가장 앞글자가 0번이고 순서대로 숫자가 증가

길이를 재는 함수 len()

In [31]:
len(long_char)

39

#### len이 N이라면 인덱스는 N-1까지 (0부터 시작하기 때문)

### 인덱싱, 슬라이싱
* 인덱싱 : 변수명[인덱스번호]
* 슬라이싱 : 변수명[시작번호:끝번호]
* **시작 인덱스는 포함하고 끝 인덱스는 포함하지 않는다**

In [37]:
print(long_char[10])
print(long_char[3:30])
print(long_char[:10])
print(long_char[35:])

치
할 때 \을 치고 enter를 친다면 여러 줄로
코딩 할 때 \을
 있다.

# 리스트 list
* [정수, 실수, 문자, 리스트, 튜플, 딕셔너리] 모두 넣을 수 있다
* 여러 자료가 나열된 형태이므로 순서가 있다
* 인덱싱과 슬라이싱이 가능하다
* 자료의 추가, 삭제가 가능하다

In [44]:
test_list = [1, 2.0, "삼", [1,2,3,"리스트"], (1,2,3),{"key":"value"}]
print(test_list)
print(test_list[3])
print(test_list[:2])
print(test_list[3][3])
print(type(test_list[5]))

[1, 2.0, '삼', [1, 2, 3, '리스트'], (1, 2, 3), {'key': 'value'}]
[1, 2, 3, '리스트']
[1, 2.0]
리스트
<class 'dict'>

In [52]:
test_list2 = [1,2,3, [4,5, [6,7,8, [9, 10]]]]

print("리스트 len : ", len(test_list2))
print()

print(test_list2)
print(test_list2[3])
print(test_list2[3][2])
print(test_list2[3][2][3])
print(test_list2[3][2][3][1])

리스트 len :  4

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]
[4, 5, [6, 7, 8, [9, 10]]]
[6, 7, 8, [9, 10]]
[9, 10]
10

In [54]:
test_list2.append("추가!!!")
print(test_list2)

del test_list2[0]
print(test_list2)

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]], '추가!!!', '추가!!!']
[2, 3, [4, 5, [6, 7, 8, [9, 10]]], '추가!!!', '추가!!!']

# Tuple 튜플
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다
* 한번 생성하면 수정이 되지 않는다
* 튜플이 리스트보다 코드 실행 시 더 빠르다
* 여러 요소의 튜플은 마지막 요소 뒤에도 콤마(,)를 붙이는 것이 일반적인 표현 방식

In [62]:
test_tuple = (1,)
print(test_tuple)

test_tuple2 = (10, 34.5, "hello", [1,2,3], (4,5,6), {"key":"value"},)
print(test_tuple2)
print(test_tuple2[3])
print(test_tuple2[4:])

1
(10, 34.5, 'hello', [1, 2, 3], (4, 5, 6), {'key': 'value'})
[1, 2, 3]
((4, 5, 6), {'key': 'value'})

# Dict 딕셔너리 (JSON)
### {"key" : "value"}
* key와 value로 이루어진 자료형
* JSON이라고도 불리며 웹에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [80]:
dic1 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, "가족" : ["둘리", "또치", "도우너"]}
print(dic1)

dic2 = {"이름" : ["홍길동","둘리", "또치"], 
        "나이" : [33, 12, 14], 
        "성별" : ("남", "남", "남"), 
        "주소" : ["서울", "남극", "아프리카"]}
print(dic2)

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너']}
{'이름': ['홍길동', '둘리', '또치'], '나이': [33, 12, 14], '성별': ('남', '남', '남'), '주소': ['서울', '남극', '아프리카']}

In [69]:
print(dic1["이름"])
print(dic1["가족"][0])

홍길동
둘리

### 딕셔너리 자료 추가

In [70]:
dic1["새자료"] = "추가중"
print(dic1)

{'이름': '홍길동', '나이': 33, '키': 175.4, '가족': ['둘리', '또치', '도우너'], '새자료': '추가중'}

### dataframe
* 나중에 데이터분석 시 배울 것
* 테이블이나 엑셀 시트
* dictionary로 만듦

In [72]:
import pandas as pd

In [81]:
df = pd.DataFrame(dic2)
df

    이름  나이 성별    주소
0  홍길동  33  남    서울
1   둘리  12  남    남극
2   또치  14  남  아프리카

# 형변환 함수
* 형변환 : 기존 data type을 다른 data type으로 바꾸는 것
* 정수 형변환 int()

In [1]:
a = 3
b = "3"
print(a + int(b))
# b 자체를 int로 바꾼 것은 아님
# 재할당하지 않는 이상 원래값은 유지됨

6

* 실수 형변환 float()

In [2]:
print(a + float(b))

6.0

* 문자열로 형변환 str()

In [3]:
print(str(a) + b)

33

* 리스트 형변환 list()

In [5]:
t = (1,2,3,4,)
print(t, type(t))

t2 = list(t)
print(t2, type(t2))

t2.append("5")
print(t2, type(t2))

(1, 2, 3, 4) <class 'tuple'>
[1, 2, 3, 4] <class 'list'>
[1, 2, 3, 4, '5'] <class 'list'>

* 튜플 형변환 tuple()

In [6]:
t3 = tuple(t2)
print(t3, type(t3))

(1, 2, 3, 4, '5') <class 'tuple'>

# input() 키보드 입력 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "(공백)으로 구분해서 여러 개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열로 받음

In [1]:
name = input("이름을 입력해주세요 : ")
print(name)

이름을 입력해주세요 : 이채은
이채은

In [1]:
data = input("숫자를 3개 입력해주세요 : ")
print(data, type(data))

숫자를 3개 입력해주세요 : 10 20 30
10 20 30 <class 'str'>

* input.split() 으로 여러 데이터를 list 형태로 받기
* split("나눌 기준값")의 옵션이 있음

In [3]:
data_list = input("숫자를 3개 입력해주세요 : ").split()
print(data_list, type(data_list))

숫자를 3개 입력해주세요 : 10 20 30
['10', '20', '30'] <class 'list'>

In [2]:
a, b, c, d, e = input("숫자를 5개 입력 : ").split()
print(a, b, c, d, e, type(a), type(b), type(c), type(d), type(e))

숫자를 5개 입력 : 1 2 3 4 5
1 2 3 4 5 <class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'>