# 연산자의 종류
* 산술, 할당, 비교, 논리, 식별, 멤버

## 산술연산자 +, -, *, /, %, //, **

In [5]:
print(1 + 1)
print(2 + 3.1)
print(3 - 4)
print(5 * 3)
print(5 / 3)
print(5 % 3)
print(5 // 3)
print(2 ** 4)

2
5.1
-1
15
1.6666666666666667
2
1
16

## 할당연산자 =, +=, -=, *=, /=, %=

In [9]:
a = 10
b = 5

In [10]:
a = a + 5
print(a)
a += 5
print(a)

15
20

In [11]:
b = b - 5
print(b)
b -= 5
print(b)

0
-5

## 비교연산자 ==, !=, >, <, >=, <=

In [12]:
a = 3
b = 3.0
c = 5
d = "Python"
e = "python"
f = True
g = False

In [15]:
print(a == b)
print(a != b)
print(b > c)
print(b <= c)
print(d == e)
print(d != e)

True
False
False
True
False
True

## 논리연산자 and, or, not
* and는 두 값이 모두 참이어야 참
* or는 두 값 중 하나라도 참이면 참, 모두 거짓이어야 거짓
* not은 값을 반대로 뒤집는다

In [18]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [19]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [20]:
print(not True)
print(not False)

False
True

### 우선순위 : not, and, or 순으로 판단

In [21]:
print(10 == 10 and 10 != 5)

True

## 식별연산자 is, is not
* (object, data type)이 같은지 비교하는 것
* 값과 data type이 모두 똑같을 때만 True

In [23]:
print(a)
print(b)
print(c)

print()

print(a is b)
print(a is not b)

print()

print(a is c)
print(b is c)
print(b is not c)

3
3.0
5

False
True

False
False
True

## 멤버연산자 in, not in

In [24]:
print(1 in [1,2,4])
print(1 not in [0,1,2])

True
False