# 리스트와 튜플 사용하기 초급편

In [ ]:
a = 1
b = 2
c = 3
d = 4
e = 5

In [35]:
data = [1,2,3,4,5]
data2 = [1, 2, "파이썬", "중복", 3.0, [4,5,6], "중복", (7,8,"리스트"), True, False]
print(type(data), type(data2))

<class 'list'> <class 'list'>

* 모든 자료형이 다 들어갈 수 있기 때문에 속도가 느리다

# 리스트 만들기
* 대괄호 안에 자료를 나열해서 만듦
* 내용이 비어있는 리스트도 생성 가능 []
* 자료가 1개만 있는 리스트도 생성 가능

In [2]:
empty_list = []
print(empty_list, type(empty_list))

[] <class 'list'>

## 리스트 형변환 함수 list()

In [8]:
print(type(range(1,10)))

print()

print(list(range(1, 10)), type(list(range(1, 10))))

<class 'range'>

[1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

## 숫자를 생성해주는 range()
* range(시작번호, 끝번호+1, step)

In [11]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [12]:
list(range(3,10,3))

[3, 6, 9]

In [15]:
list(range(20,1,-4))

[20, 16, 12, 8, 4]

## 리스트에 자료 추가하기 .append()

In [16]:
print(data)

print()

data.append("추가")
print(data)

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, '추가']

## 특정 위치에 자료 추가 .insert
* insert(추가할 위치의 인덱스, 추가할 값)

In [17]:
print(data)

print()

data.insert(2, "특정 위치")
print(data)

[1, 2, 3, 4, 5, '추가']

[1, 2, '특정 위치', 3, 4, 5, '추가']

## 리스트의 자료 삭제하기
* del 변수명[인덱스 번호] : 해당 인덱스 번호의 자료 삭제
* .pop() : 리스트의 가장 끝 자료가 출력되면서 삭제됨
* .remove(값) : 리스트의 앞부터 일치하는 값 1개를 찾아서 삭제

In [21]:
print(data2)

print()

del data2[0]
print(data2)

[1, 2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True, False]

[2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True, False]

In [22]:
print(data2)

print()

data2.pop()
print(data2)

[2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True, False]

[2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True]

In [23]:
print(data2)

print()

data2.remove("중복")
print(data2)

[2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True]

[2, '파이썬', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True]

## 리스트를 확장하기 .extend()
* 리스트에 자료를 추가하되, 요소만 추가

In [28]:
a = [1, 2, 3]
b = [4, 5, 6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [29]:
c = [0, 1, 2]
d = [5, 6, 7]
c.extend(d)
print(c)

[0, 1, 2, 5, 6, 7]

## list + list = .extend()를 한 것과 동일

In [30]:
e = [0, 0, 0]
f = [1, 1, 1]
print(e + f)

[0, 0, 0, 1, 1, 1]

## 리스트 안에서 원하는 값의 인덱스 찾기
* in, not in : 리스트 안에 원하는 값이 있는지 확인
* .index(찾는 값) : 원하는 값이 있는 첫번째 위치를 찾을 수 있음
* .index(찾는 값, 탐색 시작 인덱스) : 동일한 값 여러 개일 경우 사용하기 좋음

In [32]:
print(4 in data)
print(5 not in data)

True
False

In [39]:
print(data2)
print(data2.index("중복"))
print(data2.index("중복", 4))

[1, 2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True, False]
3
6

## 리스트 안에서 특정 값의 개수 구하기 .count(값)

In [40]:
print(data2)
print(data2.count("중복"))

[1, 2, '파이썬', '중복', 3.0, [4, 5, 6], '중복', (7, 8, '리스트'), True, False]
2

## 리스트 순서 뒤집기 .reverse()
* 실행 즉시 원본 데이터 변경
* 재할당이 필요없음

In [41]:
numbers = list(range(1,11))
print(numbers)

print()

numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 출력만 역순으로 하기
* 원데이터는 바꾸고 싶지 않을 때
* 인덱싱으로 순서 뒤집기

In [42]:
print(numbers[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 리스트 정렬 .sort() 오름차순 .sort(reverse=True) 내림차순
* 실행 즉시 원본 데이터를 바꿈

In [43]:
mixed1 = [5, 2, 1, 4, 7, 0]
mixed2 = [0, 2, 4, 7, 1, 3]

In [44]:
mixed1.sort()
print(mixed1)

[0, 1, 2, 4, 5, 7]

In [45]:
mixed2.sort(reverse=True)
print(mixed2)

[7, 4, 3, 2, 1, 0]

## sorted(리스트) 오름차순 
## sorted(리스트, reverse=True) 내림차순
* 원본 데이터를 바꾸지 않고 리스트를 정렬

In [46]:
mixed3 = [5, 2, 1, 4, 7, 0]
mixed4 = [0, 2, 4, 7, 1, 3]

In [53]:
print(sorted(mixed3))
print(mixed3)

[0, 1, 2, 4, 5, 7]
[5, 2, 1, 4, 7, 0]

In [54]:
print(sorted(mixed4, reverse = True))
print(mixed4)

[7, 4, 3, 2, 1, 0]
[0, 2, 4, 7, 1, 3]

# 튜플 tuple
* 튜플은 리스트처럼 모든 자료형을 넣어 만들 수 있음
* 순서가 있는 자료형, 인덱스가 있음
* 인덱싱과 슬라이싱 모두 가능
* 자료의 추가 및 삭제 불가능
* ()안에 자료를 넣어서 만듦
* 튜플 형변환 함수는 tuple()
* 자료 1개만 넣어서 만들 수 있다 (단, (1,) 형식이어야 한다)
* 튜플 생성 시 자료가 2개 이상인 경우 ()는 생략 가능

### 괄호 생략학 튜플 만들기

In [ ]:
t1 = 1, 2, 3
print(t1, type(t1))

print()

t2 = (1, 2, 3)
print(t2, type(t2))

## 튜플 + 튜플 = 두 개의 튜플의 요소가 하나로 합쳐짐

In [57]:
print(t1 + t2)

(1, 2, 3, 1, 2, 3)

### list와 같이 특정 값의 인덱스를 찾는 것은 가능

In [62]:
print(t1)
print(t1[0])
print(t1[::2])

(1, 2, 3)
1
(1, 3)

### list와 같이 특정 값의 개수 세는 것 가능

In [63]:
print((t1+t2).count(1))

2

## 튜플에 자료를 추가하고 싶을 때
* list로 형변환 → 자료 추가 → tuple 형변환

In [64]:
print(t1, type(t1))

print()

t1 = list(t1)
t1.extend([4,5,6])
t1 = tuple(t1)
print(t1, type(t1))

(1, 2, 3) <class 'tuple'>

(1, 2, 3, 4, 5, 6) <class 'tuple'>

### 튜플에 자료를 1개만 넣고 만들 때
* 반드시 (자료,) 형태로 만들어야 함

In [69]:
single1 = (1)
single2 = (1,)
single3 = 1,

print(single1, type(single1))
print(single2, type(single2))
print(single3, type(single3))

1 <class 'int'>
(1,) <class 'tuple'>
(1,) <class 'tuple'>

# 시퀀스 객체(자료형)
* 문자열, 리스트, 튜플 같은 순서가 있는 자료형 : 시퀀스 자료형
* 순서가 있고, 인덱스 번호가 부여되며 인덱싱과 슬라이싱이 가능
* 반복문에 시퀀스 자료형을 그대로 넣어서 반복시키는 것이 가능
* in, not in을 사용할 수 있음
* \+ 연산자를 이용해서 서로 연결 가능
* \*로 반복이 가능

In [70]:
print([1,2,3]*3)
print(("?",)*5)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
('?', '?', '?', '?', '?')

In [71]:
for i in "안녕하세요":
    print(i)

안
녕
하
세
요

In [72]:
for i in [1, 2, 3, 4]:
    print(i)

1
2
3
4

In [73]:
for i in (10, 20, 30, 40, 50):
    print(i)

10
20
30
40
50

### 리스트, 튜플은 sum(), max(), min()과 같은 함수로 연산 가능

In [75]:
numbers = list(range(1,11))

print(numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
10
55