# 서식지정자, format method
* 문자열로만 입력해야 하는 상황에서 같은 위치에 문자를 여러번 바꿔야 할 때 사용
* 문자의 자리수 맞춤, 위치 정렬에도 사용

## 1. 서식지정자 %d, %s, %f, %길이s

### 1) %s : 문자를 입력할 때
* ,를 쓰지 않고 '(따옴표) 다음에 %와 함께 들어갈 변수쓰기

In [9]:
course = ['국어', '수학', '영어']

for i in course:
    print('이 수업의 이름은 %s입니다.' %i)

이 수업의 이름은 국어입니다.
이 수업의 이름은 수학입니다.
이 수업의 이름은 영어입니다.

### 2) %d : 정수를 입력할 때

In [10]:
print('올해는 %d년 입니다' %20255.55)

올해는 20255년 입니다

### 3) %f : 실수를 입력할 때 (기본 : 6자리)

In [11]:
print('사람의 정상 체온은 약 %f도 입니다.' %36.5)

사람의 정상 체온은 약 36.500000도 입니다.

### 소수점 표기를 조절할 때 **%.소수점자리수** ex) %.2f

In [12]:
print('사람의 정상 체온은 약 %.2f도 입니다.' %36.5)

사람의 정상 체온은 약 36.50도 입니다.

### 4) %(길이)(서식지정자) : 서식지정자로 문자열 길이/정렬 지정
* 만약 문자열의 길이가 10자리(지정)보다 작다면, 나머지 공간은 공백으로 채워짐
* 지정한 길이보다 문자열의 길이가 더 길 경우, 지정한 길이를 무시하고 문자열 전체가 출력
* ex) 오른쪽 정렬하고 싶을 때 쓴다

In [15]:
print('%10s' % '10자리')

      10자리

In [16]:
print('가격은 %7d 원입니다.' %1500)
print('가격은 %7d 원입니다.' %150000)

가격은    1500 원입니다.
가격은  150000 원입니다.

### 5) 여러 항목 동시에 넣기

In [17]:
print('오늘은 %4d년 %2d월 %2d일 입니다.' %(2025,3,17))

오늘은 2025년  3월 17일 입니다.

In [21]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock_price = [71800, 121000, 195000, 31900, 86600]

for i,j in zip(company, stock_price):
    print('%s의 주가는 %d 입니다.' %(i,j))

삼성전자의 주가는 71800 입니다.
LG전자의 주가는 121000 입니다.
현대차의 주가는 195000 입니다.
대한항공의 주가는 31900 입니다.
하나투어의 주가는 86600 입니다.

# 2. format method, f-string 문자열 포매팅

### 1) format 매서드 사용하기
* "문자열 {인덱스} 문자열끝".format(값)

In [22]:
print('{}의 주가는 {} 입니다.'.format('삼성전자',71800))

삼성전자의 주가는 71800 입니다.

In [23]:
print('{0}의 주가는 {1} 입니다.'.format('삼성전자',71800))

삼성전자의 주가는 71800 입니다.

### 2) f-string (python 3.6 이상 사용 가능)

In [25]:
print(f'{company[0]}의 주가는 {stock_price[0]} 입니다.')

삼성전자의 주가는 71800 입니다.

### 3) format method와 f-string으로 문자열 정렬, 자리수 지정해 출력
* '{인덱스:<길이}.'.format(값)
* f'{값:>길이}'

#### '와 "가 중복되면 오류가 생겨서 번갈아서 써줘야함

In [27]:
print('{0:<10}'.format('삼성전자'))
print('{0:>10}'.format('삼성전자'))

삼성전자
      삼성전자

In [31]:
print(f"{'삼성전자':<10}")
print(f"{'삼성전자':>10}")

삼성전자
      삼성전자

### 4) 숫자 표기 시 숫자 자리수 맞추고 기본값 지정하기
* '{인덱스:채울숫자/길이/서식지정자}'.format(값)
* f'{값:채울숫자/길이/서식지정}'
* 3개 사이에 공백은 없다.
* 단, 서식지정자에서 %는 빼고 적는다.

In [43]:
print('{0:02d}월'.format(1))
print('{0:02d}월'.format(12))

01월
12월

In [44]:
print(f'{1:02d}월')
print(f'{10:02d}월')

01월
10월

### 4-1) 실수의 정수 자리수와 소수점 자리수 지정하기
* '{인덱스:기본값/자리수/서식지정자}'.format(값)
* f'{값:기본값/자리수/서식지정자}'
* 실수에서 자리수는 정수 + . + 소수점

In [48]:
print('{0:03.3f}'.format(2.245678))
print('{0:07.3f}'.format(2.245678))
print('{0:010.3f}'.format(2.245678))

2.246
002.246
000002.246

In [52]:
import time
for hour in range(0,12):
    for min in range(0,60):
        print(f'{hour:02d}시 {min:02d}분', end='\r')
#         time.sleep(0.001)

### 4-2) 공백을 원하는 문자로 채우고 자리수 맞추기
* {인덱스:원하는숫자/문자><자리수}.format(값)
* f'{값:원하는숫자/문자><자리수}'

In [54]:
print('{0:0>4}'.format(1))
print('{0:->4}'.format(1))

0001
---1

In [58]:
print(f'{"달러":$>10}')
print(f'{"달러":$<10}')

$$$$$$$$달러
달러$$$$$$$$

In [59]:
url = 'https://finance.naver.com/sise/sise_trans_style.naver?sosok='
for i in range(1,11):
    print(f'{url}{i:02d}')

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10