## DB에서 상장기업정보 불러와서 네이버증권에서 주가 추출

## DB에 저장된 상장기업 정보 불러오기

In [79]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

import time
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

In [2]:
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/stock_info')
conn = engine.connect()

In [3]:
data = pd.read_sql('stock_company_info_2025_04_04', con=conn)
conn.close()

In [4]:
data

,주식종목,회사명,종목코드,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,코스닥,한국피아이엠,44890,자동차 신품 부품 제조업,2025-04-04,12월,송준호,http://www.pimkorea.com,대구광역시
1,코스닥,에이유브랜즈,48107,"섬유, 의복, 신발 및 가죽제품 소매업",2025-04-03,12월,김지훈,http://aubrandz.irpage.co.kr,서울특별시
2,코스닥,우양에이치씨,10197,"구조용 금속제품, 탱크 및 증기발생기 제조업",2025-03-28,12월,김진태,http://www.wooyang.co.kr,경기도
3,코스닥,더즌,46286,전기 통신업,2025-03-24,12월,조철한,http://www.dozn.co.kr/,서울특별시
4,코스닥,심플랫폼,44453,소프트웨어 개발 및 공급업,2025-03-21,12월,임대근..,http://simplatform.com/,서울특별시
...,...,...,...,...,...,...,...,...,...
2756,유가증권,유한양행,00010,의약품 제조업,1962-11-01,12월,대표이..,http://www.yuhan.co.kr,서울특별시
2757,유가증권,CJ대한통운,00012,도로 화물 운송업,1956-07-02,12월,신영수..,http://www.cjlogistics.com,서울특별시
2758,유가증권,경방,00005,종합 소매업,1956-03-03,12월,"김준,..",http://www.kyungbang.co.kr,서울특별시
2759,유가증권,유수홀딩스,00070,회사 본부 및 경영 컨설팅 서비스업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2760,유가증권,한진중공업홀딩스,00348,연료용 가스 제조 및 배관공급업,1956-03-03,12월,조원국,http://www.hhic-holdings.com,경기도

## Npay증권에서 종목코드로 주가 조회 후 수집

In [96]:
stock_code = data['종목코드'].apply(lambda x : x+'0')
stock_code[:10]

0    448900
1    481070
2    101970
3    462860
4    444530
5    484810
6    098070
7    498390
8    480370
9    031210
Name: 종목코드, dtype: object

In [8]:
url = 'https://finance.naver.com/item/main.naver?'

In [9]:
payload = dict(code='005930')

In [10]:
r = requests.get(url, params=payload)
print(r.url)
print(r.status_code)

https://finance.naver.com/item/main.naver?code=005930
200

In [15]:
soup = bs(r.text, 'lxml')
rate_info = soup.select_one('#rate_info_nxt')
rate_info

<div class="rate_info" id="rate_info_nxt" style="display: none;">
<dl class="blind">
<dt><strong>삼성전자</strong></dt>
<dd>오늘의시세 53,600 포인트</dd>
<dd>2,500 포인트 하락</dd>
<dd>4.46% 마이너스</dd>
</dl>
<div class="today">
<p class="no_today">
<em class="no_down">
<span class="blind">53,600</span>
<span class="no5">5</span><span class="no3">3</span><span class="shim">,</span><span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_down">
<span class="ico down">하락</span>
<span class="blind">2,500</span>
<span class="no2">2</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_down">
<span class="ico minus">-</span>
<span class="blind">4.46</span>
<span class="no4">4</span><span class="jum">.</span><span class="no4">4</span><span class="no6">6</span>
<span class="per">%</span>
</em>
</p>
</div>
<table class="no_info" summary="주요 시세(전일종가, 시고저가, 거래량, 거래대금)을 제공합니다.">
<caption>주요 시세</caption>
<colgroup>
<col/>
<col width="214"/>
<col width="157"/>
</colgroup>
<tr>
<td class="first">
<span class="sptxt sp_txt2">전일</span>
<em>
<span class="blind">56,100</span>
<span class="no5">5</span><span class="no6">6</span><span class="shim">,</span><span class="no1">1</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt4">고가</span>
<em class="no_down">
<span class="blind">54,900</span><span class="no5">5</span><span class="no4">4</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt6">(상한가</span>
<em class="no_cha">
<span class="blind">72,900</span><span class="no7">7</span><span class="no2">2</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt9">거래량</span>
<em>
<span class="blind">4,277,649</span>
<span class="no4">4</span><span class="shim">,</span><span class="no2">2</span><span class="no7">7</span><span class="no7">7</span><span class="shim">,</span><span class="no6">6</span><span class="no4">4</span><span class="no9">9</span>
</em>
</td>
</tr>
<tr>
<td class="first">
<span class="sptxt sp_txt3">시가</span>
<em class="no_down">
<span class="blind">54,700</span><span class="no5">5</span><span class="no4">4</span><span class="shim">,</span><span class="no7">7</span><span class="no0">0</span><span class="no0">0</span>
</em>
</td>
<td>
<span class="sptxt sp_txt5">저가</span>
<em class="no_down">
<span class="blind">53,300</span><span class="no5">5</span><span class="no3">3</span><span class="shim">,</span><span class="no3">3</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt7">(하한가</span>
<em class="no_cha">
<span class="no3">3</span><span class="no9">9</span><span class="shim">,</span><span class="no3">3</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt8">)</span>
</td>
<td>
<span class="sptxt sp_txt10">거래대금</span>
<em>
<span class="blind">230,110</span>
<span class="no2">2</span><span class="no3">3</span><span class="no0">0</span><span class="shim">,</span><span class="no1">1</span><span class="no1">1</span><span class="no0">0</span>
</em>
<span class="sptxt sp_txt11">백만</span>
</td>
</tr>
</table>
</div>

In [97]:
stock_price_info = []
columns = ['종목코드','회사명', '현재가', '전일대비 변동액', '전일대비 변동률', '전일가', '고가', '상한가', '저가', '하한가', '거래량']

In [98]:
for idx, code in enumerate(stock_code):
    r = requests.get(url, params=dict(code=code))
    print(idx, '.', code, ':', r.status_code, end='\r')
    
    soup = bs(r.text, 'lxml')
    rate_info = soup.select_one('#rate_info_krx')
    
    company = soup.select_one('#middle > div.h_company > div.wrap_company > h2 > a').text if soup.select_one('#middle > div.h_company > div.wrap_company > h2 > a') else None
    if not company:
        continue
    current = rate_info.select_one('.today > .no_today .blind').text

    price_change = ' '.join(rate_info.select_one('.no_exday em:nth-of-type(1)').text.split('\n')[1:3])
    price_change_percent = ' '.join(rate_info.select_one('.no_exday em:nth-of-type(2)').text.split('\n')[1:3])+'%'
    yesterday = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(1) .blind').text

    high = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(2) .blind').text
    high_limit = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(2) .no_cha .blind').text
    low = rate_info.select_one('table tr:nth-of-type(2) td:nth-child(2) .blind').text
    low_limit = rate_info.select_one('table tr:nth-of-type(2) td:nth-child(2) .no_cha').text.strip()

    quantity = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(3) .blind').text

    stock_price_info.append((code, company, current, price_change, price_change_percent, yesterday, high, high_limit, low, low_limit, quantity))
    time.sleep(5)

In [103]:
stock_price_df = pd.DataFrame(stock_price_info, columns=columns)
stock_price_df

,종목코드,회사명,현재가,전일대비 변동액,전일대비 변동률,전일가,고가,상한가,저가,하한가,거래량
0,448900,한국피아이엠,"13,870","하락 2,230",- 13.85%,"16,100","17,720","20,900","13,690","11,270","7,367,953"
1,481070,에이유브랜즈,"14,370","하락 2,590",- 15.27%,"16,960","16,130","22,000","14,350","11,880","708,459"
2,101970,우양에이치씨,"16,650","하락 3,270",- 16.42%,"19,920","19,300","25,850","16,000","13,950","444,894"
3,462860,더즌,"8,120","상승 1,190",+ 17.17%,"6,930","8,510","9,000","6,190","4,860","10,686,644"
4,444530,심플랫폼,"10,970",하락 620,- 5.35%,"11,590","12,600","15,060","10,150","8,120","2,371,216"
...,...,...,...,...,...,...,...,...,...,...,...
2735,000100,유한양행,"103,200","하락 6,500",- 5.93%,"109,700","105,300","142,600","101,500","76,800","624,399"
2736,000120,CJ대한통운,"85,700","하락 3,700",- 4.14%,"89,400","87,200","116,200","84,600","62,600","52,379"
2737,000050,경방,"6,330",하락 30,- 0.47%,"6,360","6,330","8,260","6,050","4,460","5,960"
2738,000700,유수홀딩스,"5,180",하락 110,- 2.08%,"5,290","5,300","6,870","5,160","3,710","19,382"
2739,003480,한진중공업홀딩스,"3,580",하락 95,- 2.59%,"3,675","3,700","4,775","3,430","2,575","53,747"

In [104]:
from datetime import datetime
today = datetime.now()
today = today.strftime('%Y_%m_%d')

In [105]:
conn = engine.connect()
stock_price_df.to_sql(f'stock_price_{today}', con=conn, index=False, if_exists="replace")
conn.close()

## web에서 대량의 데이터를 수집할 때는 다 모으고 DB에 저장하는 것이 아니라 모을 때마다 DB에 저장하는 것이 더 안전함!!

In [99]:
stock_price_info_v2 = []
columns = ['종목코드','회사명', '현재가', '전일대비 변동액', '전일대비 변동률', '전일가', '고가', '상한가', '저가', '하한가', '거래량']

In [106]:
def saveDB(df):
    today = datetime.now()
    today = today.strftime('%Y_%m_%d')
    conn = engine.connect()
    df.to_sql(f'stock_price_v2_{today}', con=conn, index=False, if_exists="append")
    conn.close()

In [109]:
for idx, code in enumerate(stock_code[:3]):
    r = requests.get(url, params=dict(code=code))
    print(idx, '.', code, ':', r.status_code, end='\r')
    
    soup = bs(r.text, 'lxml')
    rate_info = soup.select_one('#rate_info_krx')
    
    company = soup.select_one('#middle > div.h_company > div.wrap_company > h2 > a').text if soup.select_one('#middle > div.h_company > div.wrap_company > h2 > a') else None
    if not company:
        continue
    current = rate_info.select_one('.today > .no_today .blind').text

    price_change = ' '.join(rate_info.select_one('.no_exday em:nth-of-type(1)').text.split('\n')[1:3])
    price_change_percent = ' '.join(rate_info.select_one('.no_exday em:nth-of-type(2)').text.split('\n')[1:3])+'%'
    yesterday = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(1) .blind').text

    high = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(2) .blind').text
    high_limit = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(2) .no_cha .blind').text
    low = rate_info.select_one('table tr:nth-of-type(2) td:nth-child(2) .blind').text
    low_limit = rate_info.select_one('table tr:nth-of-type(2) td:nth-child(2) .no_cha').text.strip()

    quantity = rate_info.select_one('table tr:nth-of-type(1) td:nth-child(3) .blind').text

    result = (code, company, current, price_change, price_change_percent, yesterday, high, high_limit, low, low_limit, quantity)
    df = pd.DataFrame([result], columns=columns)
    display(df)
    saveDB(df)
    
    time.sleep(5)

,종목코드,회사명,현재가,전일대비 변동액,전일대비 변동률,전일가,고가,상한가,저가,하한가,거래량
0,448900,한국피아이엠,"13,870","하락 2,230",- 13.85%,"16,100","17,720","20,900","13,690","11,270","7,378,280"

,종목코드,회사명,현재가,전일대비 변동액,전일대비 변동률,전일가,고가,상한가,저가,하한가,거래량
0,481070,에이유브랜즈,"14,370","하락 2,590",- 15.27%,"16,960","16,130","22,000","14,350","11,880","709,156"

,종목코드,회사명,현재가,전일대비 변동액,전일대비 변동률,전일가,고가,상한가,저가,하한가,거래량
0,101970,우양에이치씨,"16,650","하락 3,270",- 16.42%,"19,920","19,300","25,850","16,000","13,950","445,052"

In [95]:
stock_price_df = pd.DataFrame(stock_price_info, columns=columns)
stock_price_df

,종목코드,회사명,현재가,전일대비 변동액,전일대비 변동률,전일가,고가,상한가,저가,하한가,거래량
0,448900,한국피아이엠,"14,550","하락 1,550",- 9.63%,"16,100","17,720","20,900","14,480","11,270","6,855,082"
1,481070,에이유브랜즈,"15,050","하락 1,910",- 11.26%,"16,960","16,130","22,000","14,810","11,880","589,837"
2,448900,한국피아이엠,"14,550","하락 1,550",- 9.63%,"16,100","17,720","20,900","14,480","11,270","6,855,082"
3,481070,에이유브랜즈,"15,050","하락 1,910",- 11.26%,"16,960","16,130","22,000","14,810","11,880","589,837"
4,448900,한국피아이엠,"14,550","하락 1,550",- 9.63%,"16,100","17,720","20,900","14,480","11,270","6,860,206"
...,...,...,...,...,...,...,...,...,...,...,...
538,302440,SK바이오사이언스,"37,650","하락 1,750",- 4.44%,"39,400","38,450","51,200","37,100","27,600","111,966"
539,314930,바이오다인,"10,960",하락 960,- 8.05%,"11,920","11,520","15,490","10,880","8,350","100,876"
540,378850,화승알앤에이,"2,925",하락 190,- 6.10%,"3,115","3,090","4,045","2,915","2,185","95,512"
541,356890,싸이버원,"4,040",하락 190,- 4.49%,"4,230","4,200","5,490","4,000","2,965","105,914"
542,334970,프레스티지바이오로직스,"3,795",하락 165,- 4.17%,"3,960","3,950","5,140","3,705","2,775","194,193"